
.App{
  width: 100vw;
  height: 100vh;
}

.table{
  height: 45vh;
  width: 45vw;
  background: lightgreen;
}

#Container{
  margin-top: 2%;
}

.bjTable{
  text-align: center;
}

img{
  width: 120px;
  height: 180px;
}